@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local(''),
    url('../fonts/open-sans-v29-latin-300.woff2') format('woff2'),
    url('../fonts/open-sans-v29-latin-300.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src:
    url('../fonts/open-sans-v29-latin-regular.woff2') format('woff2'),
    url('../fonts/open-sans-v29-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 500;
  src:
    url('../fonts/open-sans-v29-latin-500.woff2') format('woff2'),
    url('../fonts/open-sans-v29-latin-500.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src:
    url('../fonts/open-sans-v29-latin-600.woff2') format('woff2'),
    url('../fonts/open-sans-v29-latin-600.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src:
    url('../fonts/open-sans-v29-latin-700.woff2') format('woff2'),
    url('../fonts/open-sans-v29-latin-700.woff') format('woff');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  background-color: transparent;
  border: none;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  width: 1130px;
  margin: 0 auto;
  padding: 0 15px;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  background-color: #FFFFFF;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heder-right {
  display: flex;
  align-items: center;
}

.nav-bar {
  display: flex;
  align-items: center;

}

.nav-bar li a {
  display: inline-block;
  padding: 16px;
  font-size: 15px;
  line-height: 24px;
  color: #000000;
  transition: background-color 0.3s ease;
}

.nav-bar li a:hover {
  background-color: rgba(25, 25, 25, 0.7);

}

.tel {
  margin-left: 24px;
  font-size: 15px;
  line-height: 24px;
  color: #FFFFFF;
  padding: 7px 15px;
  background-color: #00BAFC;
  display: inline-block;
  border-radius: 5px;
  border: 3px solid #00BAFC;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.tel:hover {
  background-color: #fff;
  color: #00BAFC;
}

.tel:active {
  border: 3px solid rgba(0, 186, 252, 0.6);
  background: rgba(0, 186, 252, 0.6);
}

.section-home {
  margin-top: 197px;
}

.your-biznes {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.biznes-items {
  width: 470px;
}

.biznes-items-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 130%;
  color: #000000;
  margin-bottom: 16px;

}

.biznes-items-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 16px;
}

.section-service {
  margin-top: 136px;
}

.service {
  font-weight: 700;
  padding: 8px 16px;
  margin-left: 0;
  border: none;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  transition: transform 0.3s ease;

}

.service:hover {
  color: #FFFFFF;
  background: rgba(0, 186, 252, 0.8);
  transform: scale(1.05);
}

.service:active {
  background: rgba(0, 186, 252, 0.6);
  border: none;
}

.service .video-you-tube {
  width: 458px;
  height: 258px;
  border-radius: 5px;
}



.service-title {
  font-size: 24px;
  line-height: 130%;
  text-align: center;
  color: #000000;
  margin-bottom: 16px;
}

.service-text {
  margin: 0 auto;
  margin-bottom: 24px;
  width: 719px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #000000;

}

.services-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.service-list-items {
  padding: 24px 58.6px;
  margin-bottom: 48px;
  border-radius: 5px;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.service-list-items:hover {
  transform: scale(1.1);
  box-shadow: 0px 12px 21px rgba(0, 0, 0, 0.1);
}

.service-list-items:active {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}


.service-list-items-fourth {
  margin-left: 193px;
}

.service-list-items-last {
  margin-right: 193px;
}

.order {
  display: flex;
  justify-content: center;
  align-items: center;
}

.order-link {
  margin-left: 16px;
  display: inline-block;
  font-size: 16px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #00BAFC;
  transition: color 0.3s ease;
}

.order-link:hover {
  color: #00b9fcb1;
}

.order-link:active {
  color: #00a1dc;
}

.section-our-works {
  margin: 56px 0;
  padding: 56px 0;
}



.our-works-items {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 48px;

}

.our-works-items:nth-child(2n) {
  flex-direction: row-reverse;
}

.our-works-items-texts {
  width: 493px;
}

.our-works-items-texts h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  color: #000000;
  margin-bottom: 8px;

}

.our-works-items-texts p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.service-2 {
  display: flex;
  justify-content: center;
}

.section-form {
  padding-top: 56px;
  padding-bottom: 64px;
  background-color: #00BAFC;
}

.form-texts {
  width: 719px;
  margin: 0 auto;
}

.form-texts h5 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 16px;
}

.form-texts p {
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #FFFFFF;

}

.form-form {
  width: 348px;
  margin: 0 auto;
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  padding: 24px;
  background-color: white;
  border-radius: 5px;
}

.form-form-input {
  padding: 16px;
  margin-bottom: 16px;
  width: 300px;
  background: #F3F3F3;
  border-radius: 5px;
  outline: none;
}


.form-form-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #000000;

}

.button-form {
  width: 167px;
  margin: 0 auto;
}

footer {
  padding: 56px 0;
  background-color: #191919;
}

.footer {
  display: flex;
  align-items: flex-start;
  color: #FFFFFF;
}

.footer-left {
  width: 320px;
  margin-right: 100px;
}

.footer-left p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
  opacity: 0.9;
}

.footer-center {
  margin-right: 87px;
}

.footer h6 {
  margin-bottom: 16px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
}

.footer-items+.footer-items {
  margin-top: 8px;
}

.footer-link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  transition: color 0.3s ease, opacity 0.3s ease;
  opacity: 0.9;
}

.footer-link:hover {
  color: #00BAFC;
}

.footer-link:active {
  color: #00BAFC;
  opacity: 0.6;
}

.footer-link-2 {
  display: flex;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  align-items: center;
  transition: color 0.3s ease, opacity 0.3s ease;
  opacity: 0.9;
}

.footer-link-2:hover {
  color: #00BAFC;
}

.footer-link-2:active {
  color: #00BAFC;
  opacity: 0.6;
}

.footer-link-2 span {
  margin-left: 8px;
}

.section-new-service {
  padding-top: 128px;
  padding-bottom: 72px;
}

.new-service {
  width: 800px;
  margin: auto;
}

.new-service-title {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  color: #000000;
  margin-bottom: 16px;
}

.new-service-text {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #000000;

}

.section-new-service-list {
  background-color: #F4F4F4;
  padding: 80px 0;
}

.new-service-items-li {
  background-color: #fff;
  box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  padding: 32px;
  margin: 0 auto;
  width: 836px;
  display: flex;
  justify-content: space-between;
}

.new-service-items-li+.new-service-items-li {
  margin-top: 64px;
}

.website {
  width: 500px;
}

.website h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  color: #000000;
  margin-bottom: 16px;

}

.website p {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 16px;

}

.website-list-items {
  padding-left: 20px;
  position: relative;
  font-size: 14px;
}

.website-list-items+.website-list-items {
  margin-top: 16px;
}

.website-list-items::before {
  position: absolute;
  top: 20%;
  left: 0;
  width: 12px;
  height: 12px;
  background-color: #00BAFC;
  border-radius: 50%;
  content: "";
}

.order-2 {
  margin-top: 16px;
  justify-content: flex-start;
}