* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  background-color: transparent;
  border: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  width: 1130px;
  margin: 0 auto;
  padding: 0 15px;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heder-right {
  display: flex;
  align-items: center;
}

.nav-bar {
  display: flex;
  align-items: center;

}

.nav-bar li a {
  display: inline-block;
  padding: 16px;
  font-size: 15px;
  line-height: 24px;
  color: #000000;
  transition: background-color 0.3s ease;
}

.nav-bar li a:hover {
  background-color: rgba(25, 25, 25, 0.7);

}

.tel {
  margin-left: 24px;
  font-size: 15px;
  line-height: 24px;
  color: #FFFFFF;
  padding: 7px 15px;
  background-color: #00BAFC;
  display: inline-block;
  border-radius: 5px;
  border: 3px solid #00BAFC;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.tel:hover {
  background-color: #fff;
  color: #00BAFC;
}

.tel:active {
  border: 3px solid rgba(0, 186, 252, 0.6);
  background: rgba(0, 186, 252, 0.6);
}

main {
  margin-top: 197px;
}

.your-biznes {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.biznes-items {
  width: 470px;
}

.biznes-items-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 130%;
  color: #000000;
  margin-bottom: 16px;

}

.biznes-items-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 16px;
}

.service {
  margin-left: 0;
}

.video-you-tube {
  width: 458px;
  height: 258px;
  border-radius: 5px;
}